{% extends 'base.html' %}
{% block content %}
<!-- 질 문 등 록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질 문 등 록</h5>
    <!-- 오 류 표 시 Start -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, errors in form.errors.items() %}
    <strong>{{ form[field].label }}</strong>
    <ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- 오 류 표 시 End -->
    <form method="post" class="my-3">
        {{ form.csrf_token }}
        <div class="mb-3">
            <label for="subject">제 목</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="content">내 용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저 장 하 기</button>
    </form>
</div>
{% endblock %}