<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, pybo!</title>
</head>
<body>
<!-- 네 비 게 이 션 바 -->
<!-- 네 비 게 이 션 바 -->
{% include "navbar.html" %}

<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 Start -->
{% block content %}
{% endblock %}
<!-- 기 본 템 플 릿 안 에 삽 입 될 내 용 End -->
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<!-- 자 바 스 크 립 트 Start -->
{% block script %}
{% endblock %}
<!-- 자 바 스 크 립 트 End -->
</body>
</html>